{% extends 'base.html' %}
{% load static %}

{% block 'css_files' %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'music/style.css' %}">
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>



{% endblock%}



{% block 'content' %}
<br>
<br>
<div class="container">
    {% include 'music/includes/album.html' %}
{% comment %} <img style='width:500px;height:500px;' src="{{album.cover.url}}" class="img-fluid " alt="Responsive image"> {% endcomment %}
<div class="panel panel-default audio-panel">
    <audio class="player" id="audio" autoplay preload="auto" tabindex="0" controls>
        <source src="">
    </audio>
</div>
{% include 'music/includes/playlist.html' %}
</div>

<script>

    var audio;
    var playlist;
    var tracks;
    var current;
    
    init();
    function init(){
        current = 0;
        audio = $('#audio');
        playlist = $('#playlist');
        tracks = playlist.find('td a');
        len = tracks.length - 1;
        audio[0].volume = 0.5;
        audio[0].play();
        playlist.find('a').click(function(e){
            e.preventDefault();
            link = $(this);
            current = link.parent().index();
            run(link, audio[0]);
        });
        audio[0].addEventListener('ended',function(e){
            current++;
            if(current == len){
                current = 0;
                link = playlist.find('a')[0];
            }else{
                link = playlist.find('a')[current];    
            }
            run($(link),audio[0]);
        });
    }
    function run(link, player){
            player.src = link.attr('href');
            par = link.parent();
            par.addClass('active').siblings().removeClass('active');
            audio[0].load();
            audio[0].play();
    }
  
  
  </script>
  {% endblock%}