{% extends 'base.html' %}

{% block 'content' %}

<form  action='{% url 'add-playlist' %}' class="container w-25 p-3 text-center border border-light p-5 mt-5 rounded" method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <p class="h4 mb-4 ">Create Playlist</p>
    {% for f in form %}
    {{f}}
    {{f.errors}}
    {% endfor %}
    {% if f.non_field_errors %}
    {{f.non_field_errors}}
    {% endif %}
    <input class="btn btn-info btn-block my-4" type="submit" value="Create"/>

    <!-- Register -->
</form>

{% endblock%}
