{% extends 'base.html' %}
{% load static %}

{% block 'css_files'%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock%}

{% block 'content' %}
<div class="container pt-3 ">
<div class="audio-favorite">
    {% include 'includes/audio.html' %}
</div>
{% include 'includes/playlist.html' %}
</div>
{% endblock%}

{% block 'scripts' %}
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock%}

