{% extends 'base.html' %}

{% load static %}




{% block 'content'%}
<section class="h-100 gradient-custom-2 ">
    <div class="container py-5 h-100 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column pl-1" style="width: 150px;">
                <img src="{% if request.user.profile_image %}{{request.user.profile_image.url}}{% else %}{% static 'images/default-profile-pic.jpg' %}{% endif %}"
                  alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                  style="width: 150px; z-index: 1">
                <a type="button" href="{% url 'update-account' request.user.id %}" class="btn btn-outline-dark mt-1" data-mdb-ripple-color="dark"
                  style="z-index: 1;">
                  Edit profile
              </a>
              <a type="button" href="{% url 'change-password' request.user.id %}" class="btn btn-outline-dark mt-1" data-mdb-ripple-color="dark"
              style="z-index: 1;">
             Change Password
          </a>
                <a type="button" href="{% url 'add-playlist' %}" class="btn btn-outline-dark mt-1" data-mdb-ripple-color="dark"
                  style="z-index: 1;">
                 Add Playlist
              </a>
            
              </div>
              <div class="ms-3 pl-3" style="margin-top: 130px;">
                <h5>{{request.user.username}}</h5>
                <p>{{request.user.email}}</p>
              </div>
            </div>
            <div class="p-4 text-black" style="background-color: #f8f9fa;">
              <div class="d-flex justify-content-end text-center py-1">
                <div>
                  <p class="mb-1 h5">Date Joined</p>
                  <p class="small text-muted mb-0">{{request.user.date_joined|date:"M d, Y"}}</p>
                </div>
               
              </div>
            </div>
            <div class="card-body p-4 text-black pb-5">
              <div class="mb-5 pt-5">
                <p class="lead fw-normal mt-5 mb-1">About</p>
                <div class="p-4" style="background-color: #f8f9fa;">
                  <p class="font-italic mb-1">Web Developer</p>
                  <p class="font-italic mb-1">Lives in New York</p>
                  <p class="font-italic mb-0">Photographer</p>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0">Favorite Songs</p>
                <p class="mb-0"><a href="{% url 'favorite-songs' %}" class="text-muted">Show all</a></p>
              </div>

              <div class="row g-2">
                {% for song in songs %}
                
                  <div class="col mb-2">
                    <img src="{{song.album.cover.url}}"
                      alt="image 1" class="w-100 rounded-3">
                    <a class="link-color" href="{% url 'play' song.id %}">
                      <p class="text-center">{{song.title}}</p>
                    </a>
                  </div>
                
                {% endfor %}
              </div>

              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0">Favorite Artists</p>
                <p class="mb-0"><a href="{% url 'favorite-artists' %}" class="text-muted">Show all</a></p>
              </div>

              <div class="row g-2">
                {% for artist in artists %}
                
                  <div class="col mb-2">
                    <img src="{{artist.image.url}}"
                      alt="image 1" class="w-100 rounded-3">
                    <a class="link-color" href="{% url 'artist-detail' artist.id %}">
                      <p class="text-center">{{artist.name}}</p>
                    </a>
                  </div>
                
                {% endfor %}
              </div>
              


              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0">Playlists</p>
                <p class="mb-0"><a href="#" class="text-muted">Show all</a></p>
              </div>

              <div class="row g-2">
                 {% for playlist in playlists %}
                
                  <div class="col mb-2">
                    <img src="{{playlist.cover.url}}"
                      alt="image 1" class="w-100 rounded-3">
                    <a class="link-color" href="{% url 'playlist' playlist.id %}">
                      <p class="text-center">{{playlist.name}}</p>
                    </a>
                  </div>
                
                {% endfor %}
              </div>
             


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock%}