          <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img style="max-height:250px" src="{{artist.image.url}}" class="card-img-top" alt="Card image cap">
          <div class="card-body">
            <h3>{{artist.name}}</h3>
            <p class="card-text">{{artist.about}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" href="{% url 'artist-detail' artist.id %}" class="btn btn-sm btn-outline-secondary">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>