
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Album</th>
        <th scope="col">Artist</th>
        {% if user.is_authenticated %}
        <th scope="col">Like</th>
        {% endif %}
      </tr>
    </thead>
    <tbody id="playlist">
        {% for song,like in songs %}
        
      <tr>
        
            <th scope="row">{{song.id}}</th>
            
            <td><a href="{{song.file.url}}">{{song.title}}  </a></td>   

            <td>{{song.album.title}}</td>
            <td>{{song.artist.name}}</td>
            {% if user.is_authenticated %}
            <td>
              <a href="{% url 'add-song-to-favorite' song.id %}">
              <div>
              {% if like  %}
                <i class="heart fa fa-heart"></i>
              {% else %}
                 <i class="heart fa fa-heart-o"></i>
            {% endif %}

              </div>
            </a>
            </td>
            {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  